@model SistemaAuxiliarPesquisaZika.Domain.DTO.RNExameViewModel

@{
    ViewBag.Title = "Detalhes do Resultado de Exame do Recém-Nascido";
}

<h2>Detalhes do Resultado de Exame do Recém-Nascido</h2>

<div>
    <h4>Exame do Recém-Nascido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecemNascido.NomeCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecemNascido.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesRecemNascido.DataExameZika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesRecemNascido.DataExameZika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesRecemNascido.MaterialUtilizadoZika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesRecemNascido.MaterialUtilizadoZika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesRecemNascido.ResultadoZika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesRecemNascido.ResultadoZika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesRecemNascido.DataExameChikunguia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesRecemNascido.DataExameChikunguia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesRecemNascido.MaterialUtilizadoChikunguia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesRecemNascido.MaterialUtilizadoChikunguia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesRecemNascido.ResultadoChikunguia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesRecemNascido.ResultadoChikunguia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesRecemNascido.DataExameFebreAmarela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesRecemNascido.DataExameFebreAmarela)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesRecemNascido.MaterialUtilizadoFebreAmarela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesRecemNascido.MaterialUtilizadoFebreAmarela)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesRecemNascido.ResultadoFebreAmarela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesRecemNascido.ResultadoFebreAmarela)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesRecemNascido.DataExameToxoplasmose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesRecemNascido.DataExameToxoplasmose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesRecemNascido.MaterialUtilizadoToxoplasmose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesRecemNascido.MaterialUtilizadoToxoplasmose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesRecemNascido.ResultadoToxoplasmose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesRecemNascido.ResultadoToxoplasmose)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", $"Edit", new { id = Model.RecemNascido.Id }) |
    @Html.ActionLink("Voltar", $"Index")
</p>
