@model IEnumerable<SistemaAuxiliarPesquisaZika.Domain.DTO.RNExameViewModel>

@{
    ViewBag.Title = "Resultado de Exame do Recém-Nascido";
}

<h2>Resultado de Exame do Recém-Nascido</h2>

<p>
    @Html.ActionLink("Cadastrar Exame", $"Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RecemNascido.NomeCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecemNascido.Paciente.NomeCompleto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RecemNascido.NomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecemNascido.Paciente.NomeCompleto)
        </td>
        <td>
            @Html.ActionLink("Editar", $"Edit", new { id=item.RecemNascido.Id }) |
            @Html.ActionLink("Exibir Resultado do Exame", $"Details", $"ExamesRecemNascido", new { id = item.RecemNascido.Id }, null) |
            @Html.ActionLink("Deletar", $"Delete", new { id=item.RecemNascido.Id })
        </td>
    </tr>
}

</table>
