@model SistemaAuxiliarPesquisaZika.Domain.ExamesPaciente

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ExamesPaciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paciente.NomeCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataExame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataExame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultadoHB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultadoHB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultadoHT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultadoHT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultadoLeucograma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultadoLeucograma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultadoPlaquetas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultadoPlaquetas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultadoSaliva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultadoSaliva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultadoUrina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultadoUrina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultadoSangue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultadoSangue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultadoToxoplasmose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultadoToxoplasmose)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
