@model SistemaAuxiliarPesquisaZika.Domain.DTO.PacienteExameViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExamesPaciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paciente.NomeCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesPaciente.DataExame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesPaciente.DataExame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesPaciente.ResultadoHB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesPaciente.ResultadoHB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesPaciente.ResultadoHT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesPaciente.ResultadoHT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesPaciente.ResultadoLeucograma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesPaciente.ResultadoLeucograma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesPaciente.ResultadoPlaquetas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesPaciente.ResultadoPlaquetas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesPaciente.ResultadoSaliva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesPaciente.ResultadoSaliva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesPaciente.ResultadoUrina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesPaciente.ResultadoUrina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesPaciente.ResultadoSangue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesPaciente.ResultadoSangue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamesPaciente.ResultadoToxoplasmose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamesPaciente.ResultadoToxoplasmose)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Paciente.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
