@model IEnumerable<SistemaAuxiliarPesquisaZika.Domain.DTO.PacienteExameViewModel>

@{
    ViewBag.Title = "Resultado de Exame do Paciente";
}

<h2>Resultado de Exame do Paciente</h2>

<p>
    @Html.ActionLink("Create New", "Create","ExamesPaciente",null,null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.NumeroCaso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.NomeCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.RG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.DataNascimento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.NumeroCaso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.NomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.RG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.DataNascimento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Paciente.Id }) |
            @Html.ActionLink("Exibir Resultado do Exame", "Details", "ExamesPaciente", new { id=item.Paciente.Id }, null) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Paciente.Id })
        </td>
    </tr>
}

</table>
