@model SistemaAuxiliarPesquisaZika.Domain.Usuario

@{
    ViewBag.Title = "Detalhes Usuário";
}

<h2>Detalhes</h2>

<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Perfil.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfil.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmaSenha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmaSenha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPerfil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPerfil)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", $"Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", $"Index")
</p>
