@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <!--Inicio Menu Principal do Usuario-->
                @if (Request.IsAuthenticated && !this.User.IsInRole("Administrador"))
                {
                    <ul class="nav navbar-nav navbar">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-list-alt"></span> &nbsp;&nbsp; Menu Usuário <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (this.User.IsInRole("Pesquisador"))
                                {
                                    <li>@Html.ActionLink("Consultar Exames do Paciente", "Index", "PainelAdmin")</li>
                                    <li>@Html.ActionLink("Consultar Dados do Paciente", "Index", "PainelAdmin")</li>
                                    <li>@Html.ActionLink("Consultar Dados do Recém-Nascido", "Index", "PainelAdmin")</li>
                                    <li role="separator" class="divider"></li>
                                    <li>@Html.ActionLink("Relatório do Paciente", "Index", "PainelAdmin")</li>
                                }
                                else if (this.User.IsInRole("Médico"))
                                {
                                    <li>@Html.ActionLink("Agendamento de Exames do Paciente", "Index", "PainelAdmin")</li>
                                    <li>@Html.ActionLink("Gerenciar Exames do Paciente", "Index", "PainelAdmin")</li>
                                }
                                else if (this.User.IsInRole("Preenchedor"))
                                {
                                    <li>@Html.ActionLink("Cadastrar Informações do Paciente", "Index", "PainelAdmin")</li>
                                    <li>@Html.ActionLink("Cadastrar Informações do Recém-Nascido", "Index", "PainelAdmin")</li>
                                }
                            </ul>
                        </li>
                    </ul>
                }
                <!--Inicio Menu Config do Usuario-->
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp; @User.Identity.Name <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (this.User.IsInRole("Administrador"))
                                {
                                    <li>@Html.ActionLink("Gerenciar Usuário", "Index", "Usuario")</li>
                                    <li>@Html.ActionLink("Gerenciar Paciente", "Index", "Pacientes")</li>
                                    <li>@Html.ActionLink("Gerenciar RecémNascido", "Index", "RecemNascidos")</li>
                                }
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Sair", "LogOff", "Usuario")</li>
                            </ul>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Entrar", "Login", "Usuario")</li>
                        <li class="active">@Html.ActionLink("Cadastrar", "Registrar", "Usuario")</li>
                    </ul>
                }

            </div>
                
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
