@model SistemaAuxiliarPesquisaZika.Domain.DTO.PacienteViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PacienteViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paciente.NumeroCaso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.NumeroCaso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.NomeCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.RG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.RG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.UBSFrequenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.UBSFrequenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.TrabalhoRemunerado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesquisaSocioSaude.TrabalhoRemunerado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.VivePaiRN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesquisaSocioSaude.VivePaiRN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.Fuma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesquisaSocioSaude.Fuma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.UsoDrogas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesquisaSocioSaude.UsoDrogas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.NumeroCigarrosDia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesquisaSocioSaude.NumeroCigarrosDia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.TemDiabetes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesquisaSocioSaude.TemDiabetes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.TemHipertensao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesquisaSocioSaude.TemHipertensao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.SatisfacaoGravidez)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesquisaSocioSaude.SatisfacaoGravidez)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.TentativaInterromperGravidez)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesquisaSocioSaude.TentativaInterromperGravidez)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.AbortosAnteriores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesquisaSocioSaude.AbortosAnteriores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.QuantosAborto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesquisaSocioSaude.QuantosAborto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.MotivoAborto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesquisaSocioSaude.MotivoAborto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", $"Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", $"Index")
</p>
