@model IEnumerable<SistemaAuxiliarPesquisaZika.Domain.DTO.PacienteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", $"Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.NumeroCaso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.NomeCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.RG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.UBSFrequenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.TrabalhoRemunerado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.VivePaiRN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.Fuma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.UsoDrogas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.NumeroCigarrosDia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.TemDiabetes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.TemHipertensao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.SatisfacaoGravidez)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.TentativaInterromperGravidez)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.AbortosAnteriores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.QuantosAborto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesquisaSocioSaude.MotivoAborto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.NumeroCaso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.NomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.RG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.UBSFrequenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesquisaSocioSaude.TrabalhoRemunerado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesquisaSocioSaude.VivePaiRN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesquisaSocioSaude.Fuma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesquisaSocioSaude.UsoDrogas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesquisaSocioSaude.NumeroCigarrosDia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesquisaSocioSaude.TemDiabetes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesquisaSocioSaude.TemHipertensao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesquisaSocioSaude.SatisfacaoGravidez)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesquisaSocioSaude.TentativaInterromperGravidez)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesquisaSocioSaude.AbortosAnteriores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesquisaSocioSaude.QuantosAborto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesquisaSocioSaude.MotivoAborto)
        </td>
        <td>
            @Html.ActionLink("Editar", $"Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", $"Details", new { id=item.Id }) |
            @Html.ActionLink("Deletar", $"Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
