@model SistemaAuxiliarPesquisaZika.Domain.DTO.AgendamentoViewModel

@{
    ViewBag.Title = "Cancelar Agendamento";
}

<h2>Cancelar Agendamento</h2>

<h3>Você tem certeza que deseja cancelar o agendamento?</h3>
<div>
    <h4>Exame do Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paciente.NomeCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgendamnetoExame.DataMarcadaExame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgendamnetoExame.DataMarcadaExame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgendamnetoExame.NomeExame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgendamnetoExame.NomeExame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgendamnetoExame.LocalExame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgendamnetoExame.LocalExame)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", $"Index")
        </div>
    }
</div>
