@model SistemaAuxiliarPesquisaZika.Domain.DTO.AgendamentoViewModel

@{
    ViewBag.Title = "Detalhes do Agendamento";
}

<h2>Detalhes do Agendamento</h2>

<div>
    <h4>Exame do Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paciente.NomeCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgendamnetoExame.DataMarcadaExame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgendamnetoExame.DataMarcadaExame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgendamnetoExame.NomeExame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgendamnetoExame.NomeExame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgendamnetoExame.LocalExame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgendamnetoExame.LocalExame)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", $"Edit", new { id = Model.AgendamnetoExame.Id }) |
    @Html.ActionLink("Voltar", $"Index")
</p>
