@model IEnumerable<SistemaAuxiliarPesquisaZika.Domain.AgendamentoExame>

@{
    ViewBag.Title = "Agendamento de Exames do Paciente";
}

<h2>Agendamento de Exames do Paciente</h2>

<p>
    @Html.ActionLink("Agendar Exame", $"Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.NomeCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataMarcadaExame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeExame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalExame)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.NomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataMarcadaExame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeExame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalExame)
        </td>
        <td>
            @Html.ActionLink("Editar", $"Edit", new { id=item.Id }) |
            @Html.ActionLink("Detahes", $"Details", new { id=item.Id }) |
            @Html.ActionLink("Cancelar Agendamento", $"Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
